.textHeader {
  color: white !important;
  text-decoration: none;
  float: right;
  text-align: right;
  font-size: 15px;
  padding: 15px;
}

.navLinksText {
  display: flex;
  align-items: center;
}

.logoHeader {
  justify-content: center;
  max-width: 175px;
  max-height: 175px;
  padding: 15px;
}

.iconSocialMedias {
  justify-content: center;
  display: flex;
  max-width: 55px;
  max-height: 55px;
  padding: 15px;
}

.logoFooter {
  justify-content: center;
  max-width: 95px;
  max-height: 95px;
  padding: 15px;
}

.HeaderFooterBackground {
  background-color: #13293d;
  opacity: 75%;
}

.space-between-sections{
  margin-top: 5%;
}

.textFooter {
  color: white;
  vertical-align: center !important;
  text-decoration: none;
}

.iconIndexPage {
  max-width: 300px;
  max-height: 300px;
  padding: 15px;
}

.icon-alignment-center {
  justify-content: center;
  vertical-align: center !important;
  display: flex;
  align-items: center;
}

.icon-alignment-right {
  justify-content: right;
  vertical-align: center !important;
  display: flex;
  align-items: right;
}

.icon-alignment-left {
  justify-content: left;
  vertical-align: center !important;
  display: flex;
  align-items: left;
}

.imgBigIndex {
  padding: 2%;
}

.textOneIndex {
  text-align: center;
  font-size: 35px;
  color: #5c5b5b;
  font-weight: bold;
}

.textPadding {
  padding: 50px;
  padding-top: 70px;
}

.cardBackground {
  background-color: #13293d !important;
  opacity: 35%;
  color: white;
  align-items: center;
  text-align: center;
  height: 400px;
  padding-top: 60px;
}

.cardImg {
  max-width: 120px;
  max-height: 120px;
  align-items: center !important;
}

.cardGroup {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-right: 40px;
  margin-left: 40px;
  padding: 50px;
}

.badgeIndex {
  background-color: #13293d;
  opacity: 75%;
  display: inline-flex;
  padding: 10px;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  padding-left: 60px;
  padding-right: 40px;
  justify-content: center;
}

.badgeText {
  font-size: 25px;
  color: white;
  text-align: center;
  padding: 15px;
  justify-content: center;
}

.imgOpenText {
  text-align: left;
  /* padding-top: 65px; */
  color: #5c5b5b;
  font-size: 30px;
  position: absolute;
  bottom: 10%;
  left: 0;
}

.imgOpen {
  width: 80%;
  height: auto;
}

.textWeek {
  text-align: center;
  padding-top: 45px;
  color: #5c5b5b;
}

.textAbout {
  text-align: left;
  color: #5c5b5b;
}

.imgAbout {
  width: 100%;
}

.textOneContact {
  text-align: center;
  font-size: 35px;
  color: #5c5b5b;
}

.detailsContact {
  color: #5c5b5b;
}

.imgMapContact {
  display: flex;
  margin-right: auto;
  flex-wrap: nowrap;
  align-content: center;
}
